.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.responsive-container {
    width: 100%;
    max-width: 900px;
}
.heading {
    margin: 0;
    color: #1e293b;
    font-family: 'Roboto';
    font-size: 32px;
    font-weight: bold;
}
.courses-list {
    list-style-type: none;
    padding: 20px 0;
    display: flex;
    gap: 30px;
    align-items: center;
    flex-wrap: wrap;
}
.failure-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
}
.failure-img {
    width: 100%;
    max-width: 450px;
}
.failure-heading {
    color: #475569;
    font-family: 'Roboto';
    font-size: 36px;
    font-weight: bold;
}
.failure-desc {
    margin: 0;
    color: #64748b;
    font-family: 'Roboto';
    font-size: 18px;
}
.retry-btn {
    margin: 20px 0;
    padding: 10px 30px;
    color: #ffffff;
    font-family: 'Roboto';
    font-size: 18px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 4px;
    background-color: #4656a1;
}
.loader-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
}